Projeto AgiBank SalesForce/force-app/main/default/flows/AgiBank_Project.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Avalie_Elegibilidade_e_Or_amento1</name>
        <label>Avalie Elegibilidade e Orçamento</label>
        <locationX>3372</locationX>
        <locationY>2372</locationY>
        <actionName>ElegibilidadeOrcamentoHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decis_o_Or_amento_ou_Consultor</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>eCliente</name>
            <value>
                <elementReference>formulaCliente</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idade</name>
            <value>
                <elementReference>perguntaIdade</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>possuiRestricao</name>
            <value>
                <elementReference>formulaRestricao</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rendaMensal</name>
            <value>
                <elementReference>rendaMensal</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ElegibilidadeOrcamentoHandler</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>respostaBot1</assignToReference>
            <name>respostaBot1</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>respostaBot2</assignToReference>
            <name>respostaBot2</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Consultar_Status_do_Pedido</name>
        <label>Consultar Status do Pedido</label>
        <locationX>50</locationX>
        <locationY>1748</locationY>
        <actionName>OrderStatusBot</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Resposta_Final</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>emailContato</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderNumber</name>
            <value>
                <elementReference>orderNumber</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrderStatusBot</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>respostaBot1</assignToReference>
            <name>respostaBot1</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Adiciona_Contagem</name>
        <label>Adiciona Contagem</label>
        <locationX>1502</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ErroInput</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Msg_Erro_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>dadosFormulario</name>
        <label>Dados Formulário</label>
        <locationX>3372</locationX>
        <locationY>2156</locationY>
        <assignmentItems>
            <assignToReference>rendaMensal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Qual_sua_renda_mensal_em_R</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>perguntaIdade</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Qual_sua_idade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtEcliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>J_cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtRestricao</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Possui_restri_o_no_nome</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hist_rico_de_Navega_o3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Grava_Numero_Protocolo</name>
        <label>Grava Numero Protocolo</label>
        <locationX>534</locationX>
        <locationY>1964</locationY>
        <assignmentItems>
            <assignToReference>Numero_Protocolo_Resposta</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>numeroProtocolo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deseja_Falar_com_Atendente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Number</name>
        <label>Order Number</label>
        <locationX>50</locationX>
        <locationY>1640</locationY>
        <assignmentItems>
            <assignToReference>orderNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Digite_o_numero_do_seu_pedido</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Consultar_Status_do_Pedido</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Salva_dados_Contato</name>
        <label>Salva dados Contato</label>
        <locationX>2558</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>emailContato</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emailDoContato.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nomeContato</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NomeCompleto.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NomeCompleto.lastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Grava_Dados_Do_Contato</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>salva_email</name>
        <label>salva email</label>
        <locationX>1238</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>emailContato</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Digite_seu_email_para_localizarmos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>identificaContato</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Busca_dados_Contato.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Entrada_do_Usu_rio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>varCadastro</name>
        <label>varCadastro</label>
        <locationX>2294</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>possuoCadastro</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>J_possuo_cadastro</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verifica_Cadastro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Variavel_Escolha_Contratacao</name>
        <label>Variavel Escolha Contratacao</label>
        <locationX>3372</locationX>
        <locationY>1940</locationY>
        <assignmentItems>
            <assignToReference>escolhaContratacao</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selecione_uma_das_op_es_que_deseja_contratar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Formulario1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Cart_o_de_Cr_dito</name>
        <choiceText>Cartão de Crédito</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cartão de Crédito</stringValue>
        </value>
    </choices>
    <choices>
        <name>Conta_Digital_PJ</name>
        <choiceText>Conta Digital PJ</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Conta Digital PJ</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contrata_o_de_Servi_os</name>
        <choiceText>4- Contratação de Serviços</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contratação de Serviços</stringValue>
        </value>
    </choices>
    <choices>
        <name>Empr_stimo_Pessoal</name>
        <choiceText>Empréstimo Pessoal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Empréstimo Pessoal</stringValue>
        </value>
    </choices>
    <choices>
        <name>falarcomatendente</name>
        <choiceText>Sim, desejo falar com atendente.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sim</stringValue>
        </value>
    </choices>
    <choices>
        <name>finalizarconversa</name>
        <choiceText>Não, finalizar conversa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Não</stringValue>
        </value>
    </choices>
    <choices>
        <name>Japossuocadastro</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Já possuo cadastro!&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>nao1</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Não&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Não Cadastrado</stringValue>
        </value>
    </choices>
    <choices>
        <name>naorestricao</name>
        <choiceText>&lt;strong style=&quot;font-size: 16px;&quot;&gt;Não&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Não</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pol_tica_de_Devolu_o</name>
        <choiceText>3- Política de Devolução</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Política de Devolução</stringValue>
        </value>
    </choices>
    <choices>
        <name>possuiCadastro</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Já sou cadastrado&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>possuoCadastro1</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cadastrado</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rastreamento_de_Pedido</name>
        <choiceText>&lt;strong&gt;1- Rastreamento de Pedido&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rastreamento de Pedido</stringValue>
        </value>
    </choices>
    <choices>
        <name>restricao</name>
        <choiceText>&lt;strong style=&quot;font-size: 14px;&quot;&gt;Sim&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sim</stringValue>
        </value>
    </choices>
    <choices>
        <name>s</name>
        <choiceText>s</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>s</stringValue>
        </value>
    </choices>
    <choices>
        <name>Suporte_T_cnico1</name>
        <choiceText>&lt;strong&gt;2- Suporte Técnico&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Suporte Técnico</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Contador_Erro_Input</name>
        <label>Contador Erro Input</label>
        <locationX>1766</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Msg_Erro_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contador_Erro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErroInput</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adiciona_Contagem</targetReference>
            </connector>
            <label>Cntagem menos que 2</label>
        </rules>
        <rules>
            <name>Colntagem_maior_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErroInput</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Cadastro_Usuario</targetReference>
            </connector>
            <label>Colntagem maior 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contato_localizado</name>
        <label>Contato localizado</label>
        <locationX>1766</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Msg_Erro_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Localizado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Busca_dados_Contato.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>salva_email</targetReference>
            </connector>
            <label>Localizado</label>
        </rules>
        <rules>
            <name>Nao_Localizado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Busca_dados_Contato.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contador_Erro_Input</targetReference>
            </connector>
            <label>Nao Localizado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decis_o_atendimento</name>
        <label>Decisão atendimento</label>
        <locationX>2470</locationX>
        <locationY>2804</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Falar_com_um_atendente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Voc_deseja_falar_com_um_atendente</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Fatar_com_Atendente</targetReference>
            </connector>
            <label>Falar com um atendente</label>
        </rules>
        <rules>
            <name>Finalizar1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Voc_deseja_falar_com_um_atendente</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tela_Final</targetReference>
            </connector>
            <label>Finalizar</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decis_o_devolu_o</name>
        <label>Decisão devolução</label>
        <locationX>1502</locationX>
        <locationY>1640</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>atendePoliticca</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sim</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Porcura_Id</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
        <rules>
            <name>NaoAtende</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nao</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Negativa_Deolu_o</targetReference>
            </connector>
            <label>Nao</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_11</name>
        <label>Decision 11</label>
        <locationX>3218</locationX>
        <locationY>3236</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Aceito_Termos_Contrato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deseja_contratar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finaliza_Contato</targetReference>
            </connector>
            <label>Aceito Termos Contrato</label>
        </rules>
        <rules>
            <name>Nao_aceita_contrato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deseja_contratar</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Pergunta_Atendimento</targetReference>
            </connector>
            <label>Nao aceita contrato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_2</name>
        <label>Decisão Falar com um atendente</label>
        <locationX>534</locationX>
        <locationY>2288</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Deseja_Falar_com_Atendente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Atendimento_Humano</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Deseja_falar_com_um_de_nossos_atendentes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Deseja_falar_com_um_de_nossos_atendentes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Quero</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fatar_com_Atendente</targetReference>
            </connector>
            <label>Atendimento Humano</label>
        </rules>
        <rules>
            <name>Resposta_Negativa</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Deseja_falar_com_um_de_nossos_atendentes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Nao</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tela_Final</targetReference>
            </connector>
            <label>Resposta Negativa</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deciss_o_Op_es_de_Contrata_o</name>
        <label>Decisão Opções de Contratação</label>
        <locationX>3372</locationX>
        <locationY>1640</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empr_stimo_Pessoal1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selecione_uma_das_op_es_que_deseja_contratar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Empr_stimo_Pessoal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Variavel_Escolha_Contratacao</targetReference>
            </connector>
            <label>Empréstimo Pessoal</label>
        </rules>
        <rules>
            <name>Conta_Digital_PJ1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selecione_uma_das_op_es_que_deseja_contratar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Conta_Digital_PJ</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Variavel_Escolha_Contratacao</targetReference>
            </connector>
            <label>Conta Digital PJ</label>
        </rules>
        <rules>
            <name>Cart_o_de_Cr_dito1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selecione_uma_das_op_es_que_deseja_contratar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cart_o_de_Cr_dito</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Variavel_Escolha_Contratacao</targetReference>
            </connector>
            <label>Cartão de Crédito</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deseja_Or_amento</name>
        <label>Deseja Orçamento?</label>
        <locationX>3614</locationX>
        <locationY>2912</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Deseja_Or_amento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selecione</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Termos_Contrato</targetReference>
            </connector>
            <label>Deseja Orçamento? Sim</label>
        </rules>
        <rules>
            <name>Deseja_Or_amento_N_o</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selecione</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Pergunta_Atendimento</targetReference>
            </connector>
            <label>Deseja Orçamento? Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eleg_vel</name>
        <label>Elegível</label>
        <locationX>3372</locationX>
        <locationY>2588</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>N_o_eleg_vel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>respostaBot1</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Não</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pergunta_Atendimento</targetReference>
            </connector>
            <label>Não elegível</label>
        </rules>
        <rules>
            <name>Elegivel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>respostaBot1</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Simulação realizada com sucesso</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pergunta_Or_amento</targetReference>
            </connector>
            <label>Elegivel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Falar_com_atendimento</name>
        <label>Falar com atendimento</label>
        <locationX>1502</locationX>
        <locationY>1964</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SIMAtendimento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FalarComAtendnte</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Fatar_com_Atendente</targetReference>
            </connector>
            <label>Atendimento</label>
        </rules>
        <rules>
            <name>Finalzar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FalarComAtendnte</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tela_Final</targetReference>
            </connector>
            <label>Finalzar</label>
        </rules>
    </decisions>
    <decisions>
        <name>Identifica_Jornada</name>
        <label>Identifica Jornada</label>
        <locationX>2294</locationX>
        <locationY>1424</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Entrada_do_Usu_rio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rastreamento</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Bem_vindo_ao_AgiBank_Como_podemos_te_ajudar_Selecione_uma_das_op_es_abaixo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rastreamento de Pedido</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>N_mero_do_Pedido</targetReference>
            </connector>
            <label>Rastreamento</label>
        </rules>
        <rules>
            <name>Suporte</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Bem_vindo_ao_AgiBank_Como_podemos_te_ajudar_Selecione_uma_das_op_es_abaixo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suporte Técnico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pergunta_Suporte_T_cnico</targetReference>
            </connector>
            <label>Suporte</label>
        </rules>
        <rules>
            <name>Devolu_o</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Bem_vindo_ao_AgiBank_Como_podemos_te_ajudar_Selecione_uma_das_op_es_abaixo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Política de Devolução</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PoliticaDevolucao</targetReference>
            </connector>
            <label>Devolução</label>
        </rules>
        <rules>
            <name>Servi_o</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Bem_vindo_ao_AgiBank_Como_podemos_te_ajudar_Selecione_uma_das_op_es_abaixo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contratação de Serviços</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OP_es_Contrata_o</targetReference>
            </connector>
            <label>Serviço</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verifica_Cadastro</name>
        <label>Verifica Cadastro</label>
        <locationX>2294</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Boas_Vindas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Possui_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>J_possuo_cadastro</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cadastrado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirma_email</targetReference>
            </connector>
            <label>Possui email</label>
        </rules>
        <rules>
            <name>N_o_possui_Cadastro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>J_possuo_cadastro</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Não</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cadastro_Usuario</targetReference>
            </connector>
            <label>Não possui Cadastro</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formulaCliente</name>
        <dataType>Boolean</dataType>
        <expression>{!txtEcliente} = &quot;Sim&quot;</expression>
    </formulas>
    <formulas>
        <name>formulaRestricao</name>
        <dataType>Boolean</dataType>
        <expression>{!txtRestricao} = &quot;Sim&quot;</expression>
    </formulas>
    <formulas>
        <name>mensagemJornada</name>
        <dataType>String</dataType>
        <expression>CASE(
  {!etapaJornada},
  &quot;rastreio&quot;, &quot;Digite o número do pedido&quot;,
  &quot;suporte&quot;, &quot;Descreva o problema encontrado&quot;,
  &quot;devolucao&quot;, &quot;Informe o produto a devolver&quot;,
  &quot;servico&quot;, &quot;Qual serviço você gostaria?&quot;,
  &quot;Digite a informação&quot;
)</expression>
    </formulas>
    <interviewLabel>AgiBank Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AgiBank Project</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Devolu_o_Produto</name>
        <label>Devolução Produto</label>
        <locationX>1018</locationX>
        <locationY>1856</locationY>
        <assignRecordIdToReference>numeroProtocolo</assignRecordIdToReference>
        <connector>
            <targetReference>gera_protocolo</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Porcura_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>ChatBot</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Devolução</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>emailContato</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Grava_Dados_Do_Contato</name>
        <label>Grava Dados Do Contato</label>
        <locationX>2558</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Busca_dados_criados</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>emailContato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>nomeContato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>lastName</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Hist_rico_de_Navega_o3</name>
        <label>Histórico de Navegação</label>
        <locationX>3372</locationX>
        <locationY>2264</locationY>
        <connector>
            <targetReference>Avalie_Elegibilidade_e_Or_amento1</targetReference>
        </connector>
        <inputAssignments>
            <field>Contato__c</field>
            <value>
                <elementReference>identificaContato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Hora_da_Navega_o__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>armazenaDadosContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_da_Etapa_Tela__c</field>
            <value>
                <stringValue>Formulário</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Flow__c</field>
            <value>
                <stringValue>AgiBank</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resposta__c</field>
            <value>
                <elementReference>armazenaDadosContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Contrata_o__c</field>
            <value>
                <elementReference>escolhaContratacao</elementReference>
            </value>
        </inputAssignments>
        <object>Historico_de_Navega_o__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Hist_rico_de_Navega_o4</name>
        <label>Histórico de Navegação</label>
        <locationX>3614</locationX>
        <locationY>2804</locationY>
        <connector>
            <targetReference>Deseja_Or_amento</targetReference>
        </connector>
        <inputAssignments>
            <field>Contato__c</field>
            <value>
                <elementReference>identificaContato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Hora_da_Navega_o__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Elegível para Orçaento</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_da_Etapa_Tela__c</field>
            <value>
                <stringValue>Deseja Orçamento?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Flow__c</field>
            <value>
                <stringValue>AgiBank</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resposta__c</field>
            <value>
                <elementReference>Selecione</elementReference>
            </value>
        </inputAssignments>
        <object>Historico_de_Navega_o__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Hist_rico_de_Navega_o5</name>
        <label>Histórico de Navegação</label>
        <locationX>3218</locationX>
        <locationY>3128</locationY>
        <connector>
            <targetReference>Decision_11</targetReference>
        </connector>
        <inputAssignments>
            <field>Contato__c</field>
            <value>
                <elementReference>identificaContato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Hora_da_Navega_o__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_da_Etapa_Tela__c</field>
            <value>
                <stringValue>Aceita contrato?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Flow__c</field>
            <value>
                <stringValue>AgiBank</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resposta__c</field>
            <value>
                <elementReference>Deseja_contratar</elementReference>
            </value>
        </inputAssignments>
        <object>Historico_de_Navega_o__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Hist_rico_de_Navega_o6</name>
        <label>Histórico de Navegação</label>
        <locationX>1018</locationX>
        <locationY>2072</locationY>
        <connector>
            <targetReference>Confirma_Devolu_o</targetReference>
        </connector>
        <inputAssignments>
            <field>Contato__c</field>
            <value>
                <elementReference>identificaContato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Hora_da_Navega_o__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_da_Etapa_Tela__c</field>
            <value>
                <stringValue>Apto a devolução?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Flow__c</field>
            <value>
                <stringValue>AgiBank</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Protocolo_atendimento__c</field>
            <value>
                <elementReference>numeroProtocolo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resposta__c</field>
            <value>
                <elementReference>sim</elementReference>
            </value>
        </inputAssignments>
        <object>Historico_de_Navega_o__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Hist_rico_de_Navega_o7</name>
        <label>Histórico de Navegação</label>
        <locationX>1502</locationX>
        <locationY>1856</locationY>
        <connector>
            <targetReference>Falar_com_atendimento</targetReference>
        </connector>
        <inputAssignments>
            <field>Contato__c</field>
            <value>
                <elementReference>identificaContato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Hora_da_Navega_o__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_da_Etapa_Tela__c</field>
            <value>
                <stringValue>Apdto a devolução?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Flow__c</field>
            <value>
                <stringValue>AgiBank</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resposta__c</field>
            <value>
                <elementReference>nao</elementReference>
            </value>
        </inputAssignments>
        <object>Historico_de_Navega_o__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Hist_rico_de_Navega_o8</name>
        <label>Histórico de Navegação</label>
        <locationX>534</locationX>
        <locationY>2180</locationY>
        <connector>
            <targetReference>Decision_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Contato__c</field>
            <value>
                <elementReference>identificaContato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Hora_da_Navega_o__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_da_Etapa_Tela__c</field>
            <value>
                <stringValue>Suporte Técnico</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Flow__c</field>
            <value>
                <stringValue>AgiBank</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Protocolo_atendimento__c</field>
            <value>
                <elementReference>numeroProtocolo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resposta__c</field>
            <value>
                <elementReference>Porfavor_contenos_o_que_esta_acontecendo</elementReference>
            </value>
        </inputAssignments>
        <object>Historico_de_Navega_o__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Hist_rico_de_Navega_o9</name>
        <label>Histórico de Navegação</label>
        <locationX>50</locationX>
        <locationY>1964</locationY>
        <connector>
            <targetReference>Tela_Final</targetReference>
        </connector>
        <inputAssignments>
            <field>Contato__c</field>
            <value>
                <elementReference>identificaContato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Hora_da_Navega_o__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_da_Etapa_Tela__c</field>
            <value>
                <stringValue>Status do Pedido</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_do_Flow__c</field>
            <value>
                <stringValue>AgiBank</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resposta__c</field>
            <value>
                <elementReference>respostaBot1</elementReference>
            </value>
        </inputAssignments>
        <object>Historico_de_Navega_o__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Suporte_T_cnico</name>
        <label>Suporte Técnico</label>
        <locationX>534</locationX>
        <locationY>1748</locationY>
        <assignRecordIdToReference>numeroProtocolo</assignRecordIdToReference>
        <connector>
            <targetReference>Busca_Numero_Protocol</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Busca_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Porfavor_contenos_o_que_esta_acontecendo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>ChatBot</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Suporte Técnico</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>Busca_ID.Email</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Busca_dados_Contato</name>
        <label>Busca dados Contato</label>
        <locationX>1766</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contato_localizado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Digite_seu_email_para_localizarmos</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Busca_dados_criados</name>
        <label>Busca dados criados</label>
        <locationX>2558</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Entrada_do_Usu_rio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>emailContato</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>identificaContato</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Busca_ID</name>
        <label>Busca ID</label>
        <locationX>534</locationX>
        <locationY>1640</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Suporte_T_cnico</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>emailContato</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Busca_Numero_Protocol</name>
        <label>Busca Numero Protocol</label>
        <locationX>534</locationX>
        <locationY>1856</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Grava_Numero_Protocolo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>numeroProtocolo</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gera_protocolo</name>
        <label>gera protocolo</label>
        <locationX>1018</locationX>
        <locationY>1964</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hist_rico_de_Navega_o6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>numeroProtocolo</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Porcura_Id</name>
        <label>Procura ID</label>
        <locationX>1018</locationX>
        <locationY>1748</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Devolu_o_Produto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>emailContato</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Boas_Vindas</name>
        <label>Boas Vindas</label>
        <locationX>2294</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>varCadastro</targetReference>
        </connector>
        <fields>
            <name>Cabecalho</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Para começar nosso atendimento posfavor responda a pergnta a seguir.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Você já possui cadastro?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>J_possuo_cadastro</name>
            <choiceReferences>nao1</choiceReferences>
            <choiceReferences>possuoCadastro1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cadastro_Usuario</name>
        <label>Cadastro Usuario</label>
        <locationX>2558</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Salva_dados_Contato</targetReference>
        </connector>
        <fields>
            <name>Cadastro</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Vamos realizar seu cadastro!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Preencha seus dados:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NomeCompleto</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>emailDoContato</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirma_Devolu_o</name>
        <label>Confirma Devolução</label>
        <locationX>1018</locationX>
        <locationY>2180</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Tela_Final</targetReference>
        </connector>
        <fields>
            <name>ConfirmaDevolucao</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Seu caso foi registrado com sucesso! &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Iniciaremos o processo de devolução do seu produto. Anote seu número de protocolo.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Protocolo:&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt; {!numeroProtocolo}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirma_email</name>
        <label>Confirma email</label>
        <locationX>1766</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Busca_dados_Contato</targetReference>
        </connector>
        <fields>
            <name>Digite_seu_email_para_localizarmos</name>
            <dataType>String</dataType>
            <fieldText>Digite seu email para localizarmos!</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Resposta_Final</name>
        <label>Status do Pedido</label>
        <locationX>50</locationX>
        <locationY>1856</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Hist_rico_de_Navega_o9</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!respostaBot1}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Decis_o_Or_amento_ou_Consultor</name>
        <label>Decisão  Orçamento ou Consultor</label>
        <locationX>3372</locationX>
        <locationY>2480</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Eleg_vel</targetReference>
        </connector>
        <fields>
            <name>decisao1</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;﻿{!respostaBot1}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Deseja_Falar_com_Atendente</name>
        <label>Deseja Falar com Atendente</label>
        <locationX>534</locationX>
        <locationY>2072</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Hist_rico_de_Navega_o8</targetReference>
        </connector>
        <fields>
            <name>protocolNumber</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Seu caso foi registrado com sucesso!! &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Anote seu numero de protocolo:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Protocolo: &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Numero_Protocolo_Resposta}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Deseja_falar_com_um_de_nossos_atendentes</name>
            <dataType>String</dataType>
            <fieldText>Deseja falar com um de nossos atendentes?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Entrada_do_Usu_rio</name>
        <label>Menu Principal</label>
        <locationX>2294</locationX>
        <locationY>1316</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Identifica_Jornada</targetReference>
        </connector>
        <fields>
            <name>Saudacao</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 16px;&quot;&gt;Bem vindo ao AgiBank &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 16px;&quot;&gt;{!Busca_dados_Contato.FirstName}{!Busca_dados_criados.FirstName}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 16px;&quot;&gt;!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Bem_vindo_ao_AgiBank_Como_podemos_te_ajudar_Selecione_uma_das_op_es_abaixo</name>
            <choiceReferences>Rastreamento_de_Pedido</choiceReferences>
            <choiceReferences>Suporte_T_cnico1</choiceReferences>
            <choiceReferences>Pol_tica_de_Devolu_o</choiceReferences>
            <choiceReferences>Contrata_o_de_Servi_os</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione uma das opções abaixo:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fatar_com_Atendente</name>
        <label>Fatar com Atendente</label>
        <locationX>314</locationX>
        <locationY>2396</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Tela_Final</targetReference>
        </connector>
        <fields>
            <name>Atendimento</name>
            <fieldText>&lt;p&gt;Aguarde, em instantes um de nossos atendentes ira entrar em contato através deste mesmo canal!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finaliza_Contato</name>
        <label>Finaliza Contato</label>
        <locationX>2954</locationX>
        <locationY>3344</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Tela_Final</targetReference>
        </connector>
        <fields>
            <name>msgParabens</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Parabéns finalizamos a contratação seu novo serviço!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Formulario1</name>
        <label>Formulario</label>
        <locationX>3372</locationX>
        <locationY>2048</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>dadosFormulario</targetReference>
        </connector>
        <fields>
            <name>formulario</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Para verificar sua elegibilidade na contratação do serviço {!escolhaContratacao} preencha o formulário a seguir.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Qual_sua_renda_mensal_em_R</name>
            <dataType>Number</dataType>
            <fieldText>Qual sua renda mensal em R$?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Possui_restri_o_no_nome</name>
            <choiceReferences>restricao</choiceReferences>
            <choiceReferences>naorestricao</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Possui restrição no nome?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Qual_sua_idade</name>
            <dataType>Number</dataType>
            <fieldText>Qual sua idade?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>J_cliente</name>
            <choiceReferences>restricao</choiceReferences>
            <choiceReferences>naorestricao</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Já é cliente?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Msg_Erro_Email</name>
        <label>Msg Erro Email</label>
        <locationX>2294</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirma_email</targetReference>
        </connector>
        <fields>
            <name>erroEmail</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Não localizamos seu cadastro!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Vamos tentar de novo?&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>N_mero_do_Pedido</name>
        <label>Número do Pedido</label>
        <locationX>50</locationX>
        <locationY>1532</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Order_Number</targetReference>
        </connector>
        <fields>
            <name>Digite_o_numero_do_seu_pedido</name>
            <dataType>String</dataType>
            <fieldText>Digite o numero do seu pedido:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Negativa_Deolu_o</name>
        <label>Negativa Deolução</label>
        <locationX>1502</locationX>
        <locationY>1748</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Hist_rico_de_Navega_o7</targetReference>
        </connector>
        <fields>
            <name>deolucao</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Desculpe!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Neste caso, não será possível realizar a devolução do seu produto.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Deseja falar com nosso atendimento?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FalarComAtendnte</name>
            <choiceReferences>falarcomatendente</choiceReferences>
            <choiceReferences>finalizarconversa</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OP_es_Contrata_o</name>
        <label>Opções Contratação</label>
        <locationX>3372</locationX>
        <locationY>1532</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Deciss_o_Op_es_de_Contrata_o</targetReference>
        </connector>
        <fields>
            <name>Selecione_uma_das_op_es_que_deseja_contratar</name>
            <choiceReferences>Cart_o_de_Cr_dito</choiceReferences>
            <choiceReferences>Empr_stimo_Pessoal</choiceReferences>
            <choiceReferences>Conta_Digital_PJ</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione uma das opções que deseja contratar:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pergunta_Atendimento</name>
        <label>Pergunta Atendimento</label>
        <locationX>2470</locationX>
        <locationY>2696</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decis_o_atendimento</targetReference>
        </connector>
        <fields>
            <name>FalarcomAtendente1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Você deseja falar com um atendente?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Voc_deseja_falar_com_um_atendente</name>
            <choiceReferences>restricao</choiceReferences>
            <choiceReferences>naorestricao</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pergunta_Or_amento</name>
        <label>Pergunta Orçamento</label>
        <locationX>3614</locationX>
        <locationY>2696</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Hist_rico_de_Navega_o4</targetReference>
        </connector>
        <fields>
            <name>pergunta</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Gostaria de gerar um orçamento?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Selecione</name>
            <choiceReferences>restricao</choiceReferences>
            <choiceReferences>naorestricao</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pergunta_Suporte_T_cnico</name>
        <label>Pergunta Suporte Técnico</label>
        <locationX>534</locationX>
        <locationY>1532</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Busca_ID</targetReference>
        </connector>
        <fields>
            <name>Porfavor_contenos_o_que_esta_acontecendo</name>
            <dataType>String</dataType>
            <fieldText>Por favor relate seu problema com um de nossos produtos ou serviço:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PoliticaDevolucao</name>
        <label>Politica de Devolução</label>
        <locationX>1502</locationX>
        <locationY>1532</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decis_o_devolu_o</targetReference>
        </connector>
        <fields>
            <name>regrasDevolucao</name>
            <fieldText>&lt;p&gt;Se você não estiver satisfeito com sua compra, não se preocupe! Você pode solicitar a devolução do produto em até &lt;strong&gt;7 dias corridos após o recebimento&lt;/strong&gt;, conforme o Código de Defesa do Consumidor.&lt;/p&gt;&lt;p&gt;Para que a devolução seja aceita, é necessário que:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;O produto esteja &lt;strong&gt;sem uso&lt;/strong&gt;, com a &lt;strong&gt;embalagem original&lt;/strong&gt; e todos os acessórios.&lt;/li&gt;&lt;li&gt;O pedido de devolução seja feito dentro do prazo de 7 dias.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sim</name>
            <dataType>Boolean</dataType>
            <fieldText>Sim, atendo os requisitos de devolução.</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>nao</name>
            <dataType>Boolean</dataType>
            <fieldText>Não atendo os requisitos de devolução.</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tela_Final</name>
        <label>Tela Final</label>
        <locationX>2294</locationX>
        <locationY>3788</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinalizaConversa</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;O &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;AgiBank&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; agradece seu contato, se precisar é só nos chamar!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Termos_Contrato</name>
        <label>Termos Contrato</label>
        <locationX>3218</locationX>
        <locationY>3020</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Hist_rico_de_Navega_o5</targetReference>
        </connector>
        <fields>
            <name>contrato</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!respostaBot2}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Deseja_contratar</name>
            <choiceReferences>restricao</choiceReferences>
            <choiceReferences>naorestricao</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Deseja contratar?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2168</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Boas_Vindas</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>armazenaDadosContrato</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Idade: {!perguntaIdade}&lt;/p&gt;&lt;p&gt;Renda Mensal: R$ {!rendaMensal} &lt;/p&gt;&lt;p&gt;É Cliente: {!eCliente}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CasoSuporte</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>colecaoEscolhas</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>eCliente</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>emailContato</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErroInput</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>escolhaContratacao</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>etapaJornada</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HistoricoNavegacao</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdContato</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>identificaContato</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>lastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>mensagemInicial</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mensagemInicialList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NaoCadastrado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Ncadastrado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>nomeContato</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Numero_Protocolo_Resposta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumeroDeProcotolo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Interaction_Log__c</objectType>
    </variables>
    <variables>
        <name>numeroProtocolo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>orderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>perguntaIdade</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>possuiRestriao</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>possuoCadastro</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>rendaMensal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>respostaBot1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>respostaBot2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>respostaFinal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>txtEcliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>txtRestricao</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
